<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")

        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        
        script(src="assets/js/bootstrap.min.js")

        title Index

        include ./layouts/navigation.pug

        div(class="jumbotron ")
                h1 News
                div(class="row  justify-content-center")
                    p Hola.!!!!
                div(class="row  justify-content-center")
                    img(width="50%" src="https://st4.depositphotos.com/9625262/26433/v/600/depositphotos_264339218-stock-video-welcome-glitch-effect-text-digital.jpg")
                div(class=" row  justify-content-center")
                    a(href="/news/add" class="btn btn-success")
                        h4(class="fas fa-edit") Crea una noticia!
        include ./layouts/footer.pug

    body