html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")

        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")



include ../layouts/navigation.pug

body(class="justify-content-center  mt-3 ")
  div(id="fb-root")
  scrip(async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v7.0")
  each ne in news
    div(class="col-md-6 mx-auto shadow p-3 mb-5 bg-white rounded col-lg-6 mt-3 mb-5 border")
    
      div(class="col-md-18 mt-3")
        div(class="card")
          div
            a(href=`/news/view/${ne._id}` class=" float-left") 
              h2(class="fas fa-eye") watch
            form(action=`/news/delete/${ne._id}?_method=DELETE` method="POST")
              input(type="hidden" name="_method" value="DELETE")              
              button(type="submit" class="btn btn-danger  float-right") 
                h3(class="fas fa-skull-crossbones") trash
          div(class="card-body row  justify-content-center")
           
            p= ne.date
          h2(class="card-title d-flex justify-content-center align-items-center")
            i= ne.title
          div(class="row justify-content-center")
            i= ne.description
          div(class=" row justify-content-center")
            img(src=`${ne.img}` width="60%" higth="70%")
          div(class="justify-content-center row")
            a(href=`/news/edit/${ne._id}`)
              h3(class="fas fa-edit") edit
              
          
     
      div(class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="3" data-width="")
  else
        div(class="card mx-auto")
          div(class="card-body")
            h1 Hello 
            p(clsss="lead") There are not Notes yet
              a(href="/news/add" class="btn btn-success btn-block") Create One!


  