<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")

        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")

        title New News

        include ../layouts/navigation.pug

if errors
    div(class="alert alert-danger alert-dismissible fade show" role="alert") 
        p llena los campos vacios
        button(type="button" class="close" data-dismiss="alert" aria-label="Close") 
                    
            span(aria-hidden="true") &times;


div(class="col-md-4 mx-auto shadow-lg p-3 mb-5 bg-white rounded")
  div(class="card text-center")
    div(class="card-header")
      h3 New News
    
    div(class="card-body")
      form(action="/news/new-news" method="POST")
        div(class="form-group")
          input(type="text" name="title" class="form-control" placeholder="Title" autofocus)
        
        div(class="form-group")
          textarea(name="img" class="form-control" placeholder="url img")
        
        div(class="form-group")
          textarea(name="description" class="form-control" placeholder="Description")
        
        div(class="form-group")
          button(class="btn btn-primary btn-block" type="submit") Save