<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")

        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        
        script(src="assets/js/bootstrap.min.js")

        title Login

    div(class="row")
        div(class="col-md-4 mx-auto")
            div(class="card mt-4 text-center")
            div(class="card-header")
                h1(class="h4")
                Account Login
                
            div(class="card-body")
                form(action="/users/signin" method="POST")
                div(class="form-group")
                    input(type="email" class="form-control" name="email" placeholder="Email" autofocus)
                
                div(class="form-group")
                    input(type="password" class="form-control" name="password" placeholder="Password")
                
                button(class="btn btn-primary btn-block") Signin 